body {
    width: 50%;
    height: 30%;
    margin: auto auto;
    margin-top: 150px;
}

.container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid rgb(0, 145, 255);
    margin-bottom: 15px;
}

.box   {
    width: 6%;
    height: 50%;
}

.n1 {
    background-color: rgb(0, 145, 255);
}

.n2 {
    background-color: rgb(83, 0, 108);
}

.orange {
    background-color: rgb(255, 64, 0);
}